<%- include("partials/header"); -%>

<h1>Compose</h1>
<p>

        <form class="" action="/compose" method="post">
            <input type="text" name="compose" />
            <button type="submit" name="button">Publish</button>
        </form>


</p>

<%- include('partials/footer'); -%>
