<%- include("partials/header"); -%>


<p>
        <form class="form-margin" action="/compose" method="post">
            <div class="form-group" >
            <!-- <input type="text" name="compose" cols="80" /> -->
            <label>Title</label><br>
            <textarea class="form-control" name="postTitle" cols="80" rows="1"></textarea>
        </div>
            <br>
            <div class="form-group" >
            <label>Post</label><br>
            <textarea class="form-control" name="postBody" cols="80" rows="20"></textarea><br>
        </div>
        <button class="btn btn-primary" type="submit" name="button">Publish</button>
        </form> 
</p>


<%- include('partials/footer'); -%>
