<%- include("partials/header"); -%>

<h1>Compose</h1>
<p>
    <div class="">
        <input type="text" name="compose" />
        <button type="submit" name="button">Publish</button>
    </div>
</p>

<%- include('partials/footer'); -%>
